.SignIn {
  width: 100vw;
  height: 100vh;
  z-index: 101;
  position: relative;

  display: grid;
  align-content: center;
  justify-content: center;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .window {
    width: 600px;
    height: 450px;
    box-sizing: border-box;
    padding: 10%;

    display: grid;
    align-content: center;
    justify-items: center;

    background-color: $light;

    .Logo {
      margin-bottom: $base * 2;
    }

    h2, input, button {
      width: 100%;
    }

    button {
      background-color: $green;
      color: $light;
      margin: $base/2 0;

      &:hover {
        background-color: $dark;
      }
    }
  }
}
