.Report {
  width: 100vw;
  height: 100vh;

  display: grid;
  align-content: center;
  justify-content: center;

  label {
    margin-bottom: $base;
  }

  input[type="text"] {
    margin-bottom: 0;
  }

  input[type="radio"] {
    margin-right: 8px;
  }
}
