@import './globals';

.Navbar {
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .container {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .Logo {
    height: 24px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
  }

  li {
    margin: 0;
    margin-left: $base*2;
    padding: 0;

    a {
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid $coral;
        cursor: pointer;
      }
    }
  }
}
