@import 'styles/globals';

// Text Styles
.default-text {
  @extend %body-font;
  color: $dark;
  font-size: $base;
  line-height: 1.25;
}

.heading {
  @extend %header-font;
  color: $dark;
  font-size: $base * .75;
  line-height: 1.25;
  text-transform: uppercase;
}

.field-heading {
  @extend .default-text;
  text-transform: uppercase;
}

.field-option {
  @extend .default-text;
  font-size: $base * .75;
}

body {
  @extend .default-text;
}

h1, h3, h4, h5, h6 {
  @extend .heading;
  margin: $base/2 0;
}

h2 {
  @extend .field-heading;
  margin: $base/2 0;
}

button, label, option {
  @extend .field-option;
}

a {
  color: $green;
  text-decoration: none;
  border-bottom: 2px solid $green;
  transition: .35s;

  &:hover {
    color: $coral;
    border-bottom: 2px solid $coral;
  }
}

button, input[type="submit"] {
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  transition: .35s;
  box-sizing: border-box;
  padding: $base/2;

  &:hover {
    cursor: pointer;
  }
}

label {
  display: block;

  &:hover {
    cursor: pointer;
  }
}

input[type="text"], .input-text {
  @extend .default-text;
  background-color: transparent;
  transition: .35s;

  margin-bottom: $base*2;
  border: none;
  border-bottom: 2px solid $dark;
  outline: 0;

  &:focus {
    border-bottom: 2px solid $green;
  }
}

// Spacing & Formatting
.container {
  margin: 0px auto;
  width: 80%;
  max-width: 800px;
}

@import 'styles/pages';
