@import 'styles/globals';

// Text Styles
.default-text {
  @extend %body-font;
  color: $dark;
  font-size: $base;
  line-height: 1.25;
}

.heading {
  @extend %header-font;
  color: $dark;
  line-height: 1.25;
  text-transform: uppercase;
}

.field-heading {
  @extend .default-text;
  text-transform: uppercase;
  margin: $base/2 0;
}

.field-option {
  @extend .default-text;
  font-size: $base * .85;
}

body {
  @extend .default-text;
  color: $dark;
}

h1, h2, h4, h5, h6 {
  @extend .heading;
  margin: $base/2 0;
}

h1 {
  font-size: $base;
  margin: $base 0;
}

h2 {
  font-size: $base * .85;
}

h3 {
  @extend .field-heading;
  margin: $base/2 0;
}

button, label, option {
  @extend .field-option;
}

a {
  color: $green;
  text-decoration: none;
  border-bottom: 2px solid $green;
  transition: .35s;

  &:hover {
    color: $coral;
    border-bottom: 2px solid $coral;
  }
}

button, input[type="submit"] {
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  transition: .35s;
  box-sizing: border-box;
  padding: $base/2;
  margin: 0;

  &:hover {
    cursor: pointer;
  }
}

label {
  display: block;

  &:hover {
    cursor: pointer;
  }
}

input[type="text"], .input-text {
  @extend .default-text;
  background-color: transparent;
  transition: .35s;

  margin: 0;
  padding: 1px 0;
  margin-bottom: $base*1.5;
  border: none;
  border-bottom: 1px solid $dark;
  outline: 0;

  &:focus {
    border-bottom: 1px solid $green;
  }
}

input[type="radio"], input[type="checkbox"] {
  outline: 0;
  margin-right: $base/2;
}

// Spacing & Formatting
.container {
  margin: 0px auto;
  width: 80%;
  max-width: 850px;
}

%fullscreen {
  width: 100vw;
  height: 100vh;

  display: grid;
  align-content: center;
  justify-items: center;
  text-align: center;

  a {
    display: inline;
    text-transform: uppercase;
  }
}

%columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 48px;
}

@import 'styles/pages';
